@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@700&family=Roboto&display=swap");
body {
  color: #6d6d6c;
  background-color: #efeeee; }

button {
  background: #EFEEEE;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
  box-shadow: 6px 6px 16px rgba(209, 205, 199, 0.5), -6px -6px 16px rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  padding: 8px 24px; }

.small > .logo > img {
  height: 70px;
  width: auto; }

.logo > img {
  mix-blend-mode: darken; }

.active {
  color: #212121; }

button {
  cursor: pointer; }

a {
  color: #6d6d6c;
  text-decoration: none; }

a.link {
  cursor: pointer; }

a.link:hover {
  text-decoration: underline; }

.goservice {
  background-color: #efeeee;
  padding: 8px 24px;
  margin: auto; }

.indeximg {
  z-index: 1000;
  display: block;
  margin: auto;
  margin-top: -24px;
  transform: rotate(-4deg);
  width: 100%;
  height: auto; }

nav {
  display: inline-flex;
  align-items: flex-start;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 24px;
  height: 96px; }
  nav > menu {
    background-color: #efeeee;
    background-repeat: repeat;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
    box-shadow: 6px 6px 16px rgba(209, 205, 199, 0.5), -6px -6px 16px rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    margin-right: 64px; }

.main-links ul {
  list-style-type: none;
  display: inline-flex;
  align-items: flex-start;
  justify-content: space-between; }
  .main-links ul > li {
    position: relative;
    padding: 4px 24px 4px 24px; }

.products-sub, .products-sub {
  display: none; }

menu {
  font-size: 1.5rem; }

menu.internalAnchors {
  font-size: 1rem; }

.small > menu {
  font-size: 1rem; }

.internalAnchors {
  cursor: pointer; }
  .internalAnchors > ul {
    margin-left: 8px; }
  .internalAnchors > ul li {
    padding: 8px 24px;
    list-style-type: none; }
  .internalAnchors > ul li:hover {
    list-style-image: url(pointon.png);
    list-style-position: outside; }
  .internalAnchors > ul li a {
    display: block;
    padding: 4px 24px;
    margin-top: 0;
    line-height: 2rem; }

.cardsbricks {
  margin-top: 64px;
  background-image: url("../assets/img/bg3.png");
  background-repeat: repeat;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
  box-shadow: 6px 6px 16px rgba(209, 205, 199, 0.5), -6px -6px 16px rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  padding-bottom: 32px;
  padding-top: 32px; }

.cards-col :nth-child(1) {
  margin-top: 4px; }

html {
  scroll-behavior: smooth; }

body {
  margin: 0;
  background-image: url("../assets/img/bg3.png");
  background-repeat: repeat; }

menu {
  margin: 0; }

#wrapper {
  padding: 160px 24px; }

#wrapper.topShrinked {
  padding: 128px 24px; }

@media (min-width: 767px) {
  .cards-col {
    width: 100vw; } }

@media (min-width: 992px) {
  .cards-col {
    width: 75vw; } }

@media (min-width: 1200px) {
  .cards-col {
    width: 75vw; } }

@media (min-width: 767px) {
  .internalAnchors {
    width: 100vw; } }

@media (min-width: 992px) {
  .internalAnchors {
    width: 25vw;
    float: right;
    position: fixed;
    right: 0;
    top: 128px; } }

@media (min-width: 1200px) {
  .internalAnchors {
    width: 25vw;
    float: right;
    position: fixed;
    right: 0;
    top: 128px; } }

.cardsbricks {
  display: block;
  width: 100%; }

.prodimg {
  display: block;
  mix-blend-mode: darken;
  float: left;
  max-width: 90vw; }
  @media (min-width: 767px) {
    .prodimg {
      max-width: 90vw; } }
  @media (min-width: 992px) {
    .prodimg {
      max-width: 60vw; } }
  @media (min-width: 1200px) {
    .prodimg {
      max-width: 40%; } }

.desc {
  display: inline-block; }
  @media (min-width: 767px) {
    .desc {
      width: 100%; } }
  @media (min-width: 992px) {
    .desc {
      width: 55%; } }
  @media (min-width: 1200px) {
    .desc {
      width: 55%; } }

.cards {
  vertical-align: top; }

.cards .cardshome {
  display: inline-block;
  vertical-align: top;
  background-image: url("../assets/img/bg3.png");
  background-repeat: repeat;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
  box-shadow: 6px 6px 16px rgba(209, 205, 199, 0.5), -6px -6px 16px rgba(255, 255, 255, 0.5);
  border-radius: 8px; }

.cards .cardscontact {
  display: inline-block;
  vertical-align: top;
  background-image: url("../assets/img/bg3.png");
  background-repeat: repeat;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
  box-shadow: 6px 6px 16px rgba(209, 205, 199, 0.5), -6px -6px 16px rgba(255, 255, 255, 0.5);
  border-radius: 8px; }

body, p, ul, .link, strong {
  font-family: 'Roboto', sans-serif; }

h1, h2, h3, h4 {
  font-family: 'Cairo', sans-serif; }

p {
  text-align: justify;
  line-height: 1.5rem; }

.desc ul li {
  line-height: 2rem; }

.internalAnchors h3 {
  display: block;
  padding-left: 48px; }

.cardshome {
  text-align: center;
  box-sizing: content-box;
  width: 24%;
  padding: 24px; }
  .cardshome > p {
    text-align: justify; }
  .cardshome > h3 {
    z-index: 10011;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: #efeeee;
    transform: rotate(-4deg);
    text-align: center;
    background-color: #1DB954;
    padding: 4px 24px; }

.cardscontact {
  text-align: center;
  box-sizing: content-box;
  width: 24%;
  padding: 24px; }
  .cardscontact > p {
    text-align: justify; }
  .cardscontact > h3 {
    z-index: 10011;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    padding: 4px 24px; }
