@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@700&family=Roboto&display=swap");
body {
  color: #6d6d6c;
  background-color: #efeeee; }

h3:hover, .cardshome {
  cursor: pointer; }

img {
  max-width: 90%; }

.logo > img {
  mix-blend-mode: darken; }

.active {
  color: #212121; }

button {
  cursor: pointer; }

a {
  color: #6d6d6c;
  text-decoration: none; }

a.link {
  cursor: pointer; }

a.link:hover {
  text-decoration: underline; }

.goservice {
  background-color: #1db954;
  color: #efeeee;
  padding: 8px 64px;
  margin: auto;
  border-radius: 8px; }

.indeximg {
  display: block;
  margin: auto;
  padding: 8px;
  width: 100%;
  height: auto; }

.contactinfo ul li {
  list-style-type: none; }

.home {
  display: block;
  background-image: url(../assets/img/icons/home.svg);
  width: 64px;
  height: 64px;
  background-size: cover; }
  @media (min-width: 992px) {
    .home {
      width: 48px;
      height: 48px; } }

.products {
  display: block;
  background-image: url(../assets/img/icons/porotherm.svg);
  width: 64px;
  height: 64px;
  background-size: cover; }
  @media (min-width: 992px) {
    .products {
      width: 48px;
      height: 48px; } }

.services {
  display: block;
  background-image: url(../assets/img/icons/sluzby.svg);
  width: 64px;
  height: 64px;
  background-size: cover; }
  @media (min-width: 992px) {
    .services {
      width: 48px;
      height: 48px; } }

.company {
  display: block;
  background-image: url(../assets/img/icons/home.svg);
  width: 64px;
  height: 64px;
  background-size: cover; }
  @media (min-width: 992px) {
    .company {
      width: 48px;
      height: 48px; } }

.galerie {
  display: block;
  background-image: url(../assets/img/icons/galerie.svg);
  background-size: cover;
  width: 64px;
  height: 64px; }
  @media (min-width: 992px) {
    .galerie {
      width: 48px;
      height: 48px; } }

.contact {
  display: block;
  background-image: url(../assets/img/icons/kontakt.svg);
  background-size: cover;
  width: 64px;
  height: 64px; }
  @media (min-width: 992px) {
    .contact {
      width: 48px;
      height: 48px; } }

.products-sub, .products-sub {
  display: none; }

.internalAnchors {
  cursor: pointer; }
  .internalAnchors > ul li {
    padding: 8px 24px;
    list-style-type: none; }
  .internalAnchors > ul li:hover {
    list-style-image: url(pointon.png);
    list-style-position: outside; }
  .internalAnchors > ul li a {
    display: block;
    padding: 4px 24px;
    margin-top: 0;
    line-height: 2rem; }

.cardsbricks {
  background-image: url("../assets/img/bg3.png");
  background-repeat: repeat;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
  box-shadow: 6px 6px 16px rgba(209, 205, 199, 0.5), -6px -6px 16px rgba(255, 255, 255, 0.5);
  border-radius: 8px; }

.card {
  background-image: url("../assets/img/bg3.png");
  background-repeat: repeat;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
  box-shadow: 6px 6px 16px rgba(209, 205, 199, 0.5), -6px -6px 16px rgba(255, 255, 255, 0.5);
  border-radius: 8px; }

.cardhome {
  margin: 4px;
  text-align: center;
  background-image: url("../assets/img/bg3.png");
  background-repeat: repeat;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
  box-shadow: 6px 6px 16px rgba(209, 205, 199, 0.5), -6px -6px 16px rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  padding: 4px;
  padding-bottom: 32px; }
  .cardhome > h3 {
    text-align: center; }

body {
  background-image: url("../assets/img/bg3.png"); }

.desc {
  padding: 8px 32px; }

.cards :nth-child(1) {
  margin-top: 4px; }

#litepodlahy {
  min-height: 350px; }

.logo:hover {
  cursor: pointer; }

html {
  scroll-behavior: smooth;
  scroll-padding: 100px 0px 0px 100px; }

.wrapper {
  display: grid;
  grid-template-areas: "content" "footer";
  padding-top: 96px; }

#topNav {
  position: fixed;
  display: grid;
  width: 100%;
  grid-auto-columns: 5fr 7fr;
  grid-template-areas: "logos menu"; }

.logo {
  grid-area: logos; }
  .logo > img {
    max-height: 64px; }

menu.main-links {
  padding: unset;
  grid-area: menu;
  height: unset;
  justify-items: end; }

.main-links > button {
  margin-right: 32px;
  border-radius: 4px;
  border-color: #1DB954; }

a.link {
  padding: 8px 24px; }

.content {
  grid-area: content;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-areas: "scroll"; }
  @media (min-width: 992px) {
    .content {
      grid-auto-columns: 8fr 4fr;
      grid-template-areas: "scroll menu"; } }
  @media (min-width: 1200px) {
    .content {
      grid-auto-columns: 8fr 4fr;
      grid-template-areas: "scroll menu"; } }

.contentgalerie {
  grid-area: content;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-areas: "scroll"; }
  @media (min-width: 992px) {
    .contentgalerie {
      grid-auto-columns: 6fr 6fr;
      grid-template-areas: "scroll menu"; } }
  @media (min-width: 1200px) {
    .contentgalerie {
      grid-auto-columns: 6fr 6fr;
      grid-template-areas: "scroll menu"; } }

.cards {
  grid-area: scroll;
  display: grid;
  grid-row-gap: 96px; }

.card {
  display: grid;
  grid-template-areas: "img" "desc";
  grid-auto-columns: 1fr; }
  @media (min-width: 992px) {
    .card {
      grid-template-areas: "img desc";
      grid-auto-columns: 4fr 8fr;
      min-height: 200px; } }
  @media (min-width: 1200px) {
    .card {
      grid-template-areas: "img desc";
      grid-auto-columns: 4fr 8fr;
      min-height: 200px; } }

.cardgal {
  background-color: rgba(239, 238, 238, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
  box-shadow: 6px 6px 16px rgba(209, 205, 199, 0.5), -6px -6px 16px rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  padding: 8px; }

.prodimg {
  grid-area: img;
  mix-blend-mode: darken;
  padding: 4px; }
  @media (min-width: 992px) {
    .prodimg {
      padding: 8px; } }
  @media (min-width: 1200px) {
    .prodimg {
      padding: 24px; } }

.desc {
  grid-area: desc; }

menu.internalAnchors {
  grid-area: unset;
  float: right;
  display: block;
  position: fixed;
  top: 128px;
  right: 24px;
  visibility: hidden; }
  @media (min-width: 992px) {
    menu.internalAnchors {
      visibility: visible; } }
  @media (min-width: 1200px) {
    menu.internalAnchors {
      visibility: visible; } }

footer {
  grid-area: footer; }

menu.internalAnchors > ul {
  display: table; }
  menu.internalAnchors > ul > li {
    display: table-row; }

.cardsabout {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-areas: "info" "mapa"; }
  @media (min-width: 992px) {
    .cardsabout {
      grid-auto-columns: 1fr 500px;
      grid-template-areas: "info mapa"; } }

.cardabout {
  grid-area: info;
  background-color: rgba(239, 238, 238, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
  box-shadow: 6px 6px 16px rgba(209, 205, 199, 0.5), -6px -6px 16px rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  padding: 24px 32px; }

.cardcompanymapa {
  grid-area: mapa;
  background-color: rgba(239, 238, 238, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
  box-shadow: 6px 6px 16px rgba(209, 205, 199, 0.5), -6px -6px 16px rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  padding: 24px 32px; }

.cardshome {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-areas: "col1" "col2" "col3" "col4"; }
  @media (min-width: 992px) {
    .cardshome {
      grid-auto-columns: 1fr 1fr;
      grid-template-areas: "col1 col2" "col3 col4"; } }
  @media (min-width: 1200px) {
    .cardshome {
      grid-auto-columns: 1fr 1fr 1fr 1fr;
      grid-template-areas: "col1 col2 col3 col4"; } }

.main-links > button {
  display: inline-block; }

.smalltogglemenu {
  display: block; }
  @media (min-width: 992px) {
    .smalltogglemenu {
      display: none; } }

.hiddn {
  display: none; }
  @media (min-width: 992px) {
    .hiddn {
      display: grid; } }

h1, h2, h3, h4 {
  font-family: 'Cairo', sans-serif; }

h1 {
  text-align: center;
  color: #1DB954;
  font-size: calc(1.425rem + 2.1vw); }
  @media (min-width: 1200px) {
    h1 {
      font-size: 3rem; } }

h2 {
  color: rgba(29, 185, 84, 0.9);
  font-size: calc(1.365rem + 1.38vw);
  line-height: 2.9rem; }
  @media (min-width: 1200px) {
    h2 {
      font-size: 2.4rem; } }

h3, h4 {
  color: rgba(29, 185, 84, 0.8);
  font-size: calc(1.305rem + 0.66vw);
  line-height: 2rem; }
  @media (min-width: 1200px) {
    h3, h4 {
      font-size: 1.8rem; } }

html {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem; }

p {
  text-align: justify;
  line-height: 1.3rem;
  padding: 8px 32px; }
  @media (min-width: 992px) {
    p {
      padding: 8px 32px; } }
  @media (min-width: 1200px) {
    p {
      padding: 24px 32px; } }

.desc ul li {
  line-height: 2rem; }

.internalAnchors h3 {
  display: block;
  padding-left: 48px; }

menu.internalAnchors strong {
  margin-left: 23px;
  padding-top: 32px; }
