button {
background: #EFEEEE;
border: 1px solid rgba(255, 255, 255, 0.2);
box-sizing: border-box;
box-shadow: 6px 6px 16px rgba(209, 205, 199, 0.5), -6px -6px 16px rgba(255, 255, 255, 0.5);
border-radius: 8px;
padding: $m $l;
}

.small > .logo > img {
    height: 70px;
    width: auto;
}

.logo > img {
    mix-blend-mode: darken;
}

.active {color: $active}

button {
    cursor: pointer;
}
a {
    color: $grayfontdark;
    text-decoration: none;
}

a.link {
    cursor: pointer;
}
a.link:hover {
    text-decoration: underline;
}
.goservice {
    background-color: $graybglight;
    padding: $m $l;
    margin: auto;
}
.indeximg {
    z-index: 1000;
    display: block;
    margin: auto;
    margin-top: -$l;
    transform: rotate(-4deg);
    width: 100%;
    height: auto;
}
.contactinfo {
    ul li {
        list-style-type: none;
    }
}