button {
background: #EFEEEE;
border: 1px solid rgba(255, 255, 255, 0.2);
box-sizing: border-box;
box-shadow: 6px 6px 16px rgba(209, 205, 199, 0.5), -6px -6px 16px rgba(255, 255, 255, 0.5);
border-radius: 8px;
padding: $m $l;
}

.small > .logo > img {
    height: 70px;
    width: auto;
}

.active {color: $active}

button {
    cursor: pointer;
}
a.link {
    cursor: pointer;
}
a.link:hover {
    text-decoration: underline;
}