
h3:hover, .cardshome {
    cursor: pointer;
}
img {
    max-width: 90%;
}

.logo > img {
    mix-blend-mode: darken;
}

.active {color: $active}

button {
    cursor: pointer;
}
a {
    color: $grayfontdark;
    text-decoration: none;
}

a.link {
    cursor: pointer;
}
a.link:hover {
    text-decoration: underline;
}
.goservice {
    background-color: rgba($color: $green, $alpha: 1.0);
    color: $graybglight;
    padding: $m $xxl;
    margin: auto;
    border-radius: 8px;
}
.indeximg {
    display: block;
    margin: auto;
    padding: $m;
    //transform: rotate(-4deg);
    width: 100%;
    height: auto;
}
.contactinfo {
    ul li {
        list-style-type: none;
    }
}
.home {
    display: block;
    background-image: url(../assets/img/icons/home.svg);
    width: 64px;
    height: 64px;
    background-size: cover;
    @include respond-to(medium) {
    width: 48px;
    height: 48px;    
    }
}
.products {
    display: block;
    background-image: url(../assets/img/icons/porotherm.svg);
    width: 64px;
    height: 64px;
    background-size: cover;
    @include respond-to(medium) {
    width: 48px;
    height: 48px;
    }
}
.services {
    display: block;
    background-image: url(../assets/img/icons/sluzby.svg);
    width: 64px;
    height: 64px;
    background-size: cover;
    @include respond-to(medium) {    
    width: 48px;
    height: 48px;
    }
}
.company {
    display: block;
    background-image: url(../assets/img/icons/home.svg);
    width: 64px;
    height: 64px;
    background-size: cover;
    @include respond-to(medium) {
    width: 48px;
    height: 48px;    
    }
}
.galerie {
    display: block;
    background-image: url(../assets/img/icons/galerie.svg);
    background-size: cover;
    width: 64px;
    height: 64px;
    @include respond-to(medium) {
    width: 48px;
    height: 48px;
    }
}
.contact {
    display: block;
    background-image: url(../assets/img/icons/kontakt.svg);
    background-size: cover;
    width: 64px;
    height: 64px;
    @include respond-to(medium) {
    width: 48px;
    height: 48px;
    }
}