.products-sub, .products-sub {
    display: none;
}

.internalAnchors {
   cursor: pointer;
    > ul li {
        padding: $m $l;
        list-style-type: none;
    }

    > ul li:hover {
        list-style-image: url(pointon.png);
        list-style-position: outside;
    }

    > ul li a {
        display: block;
        padding: $s $l;
        margin-top: 0;
        line-height: 2rem;
    }
}

.cardsbricks {
    background-image: url("../assets/img/bg3.png");
    background-repeat: repeat;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
    box-shadow: 6px 6px 16px rgba(209, 205, 199, 0.5), -6px -6px 16px rgba(255, 255, 255, 0.5);
    border-radius: 8px;
}

.card {
    background-image: url("../assets/img/bg3.png");
    background-repeat: repeat;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
    box-shadow: 6px 6px 16px rgba(209, 205, 199, 0.5), -6px -6px 16px rgba(255, 255, 255, 0.5);
    border-radius: 8px;
}
.cardhome {
    margin: $s;
    text-align: center;
    > h3 {
        text-align: center;
    }
    background-image: url("../assets/img/bg3.png");
    background-repeat: repeat;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
    box-shadow: 6px 6px 16px rgba(209, 205, 199, 0.5), -6px -6px 16px rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    padding: $s;
    padding-bottom: $xl;
}

body {
    background-image: url("../assets/img/bg3.png");
}

.desc {
    padding: $m $xl;
}
.cards {
    :nth-child(1) {
        margin-top: $s;
    }
}

#litepodlahy {
    min-height: 350px;
}


