html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    background-image: url("../assets/img/bg3.png");
    background-repeat: repeat;
}
menu {
    margin: 0;
}
#wrapper {
    padding: 5*$xl $l;
}
#wrapper.topShrinked {
    padding: 128px $l;
}

.cards-col {
    
    @include respond-to(small) {
        width: 100vw;
    }
    @include respond-to(medium) {
        width: 75vw;
    }
    @include respond-to(large) {
        width: 75vw;
    }
}
.internalAnchors {
    @include respond-to(small) {
        width: 100vw;
    }
    @include respond-to(medium) {
        width: 25vw;
        float: right;
        position: fixed;
        right: 0;
        top: 128px;
    }
    @include respond-to(large) {
        width: 25vw;
        float: right;
        position: fixed;
        right: 0;
        top: 128px;
    }
}

.cardsbricks {
    display: block;
    width: 100%;
}
.prodimg {
    display: block;
    mix-blend-mode: darken;
    float: left;
    max-width: 90vw;

@include respond-to(small) {
    max-width: 90vw;
}
@include respond-to(medium) {
    max-width: 60vw;
}
@include respond-to(large) {
    max-width: 40%;
}
}
.desc {
    display: inline-block;
    padding-left: $xl;
    @include respond-to(small) {
        width: 100%;
    }
    @include respond-to(medium) {
        width: 55%;
    }
    @include respond-to(large) {
        width: 55%;
    }
}
.cards {
    vertical-align: top;
}
.cards .cardshome{
        display: inline-block;
        vertical-align: top;
        background-image: url("../assets/img/bg3.png");
        background-repeat: repeat;
        border: 1px solid rgba(255, 255, 255, 0.2);
        box-sizing: border-box;
        box-shadow: 6px 6px 16px rgba(209, 205, 199, 0.5), -6px -6px 16px rgba(255, 255, 255, 0.5);
        border-radius: 8px;
    }
.cards .cardscontact {
        display: inline-block;
        vertical-align: top;
        background-image: url("../assets/img/bg3.png");
        background-repeat: repeat;
        border: 1px solid rgba(255, 255, 255, 0.2);
        box-sizing: border-box;
        box-shadow: 6px 6px 16px rgba(209, 205, 199, 0.5), -6px -6px 16px rgba(255, 255, 255, 0.5);
        border-radius: 8px;
}

.cardcompany, .cardcompanymapa {
  
        @include respond-to(small) {
            width: 90%;
        }
        @include respond-to(large) {
            width: 50%;
        }

    display: inline-block;
        vertical-align: top;
        background-image: url("../assets/img/bg3.png");
        background-repeat: repeat;
        border: 1px solid rgba(255, 255, 255, 0.2);
        box-sizing: border-box;
        box-shadow: 6px 6px 16px rgba(209, 205, 199, 0.5), -6px -6px 16px rgba(255, 255, 255, 0.5);
        border-radius: 8px;
        padding: $l;
}
.cardcompanymapa {
    .cardcompany, .cardcompanymapa {
        @include respond-to(small) {
            margin:auto
        }
        @include respond-to(large) {
            margin-left: $m;
        }
    }
    
}