html {
    scroll-behavior: smooth;
    scroll-padding: 100px 0px 0px 100px;
}
.wrapper {
    display: grid;
    grid-template-areas:
    "content"
    "footer"
    ;
    padding-top: 3*$xl;
}
#topNav {
    position: fixed;
    display: grid;
    width: 100%;
    grid-auto-columns: 5fr 7fr;
    grid-template-areas:
    "logos menu";
}

.logo {
    grid-area: logos;
    > img {
        max-height: 2*$xl;
    }
}

menu.main-links {
    padding: unset;
    grid-area: menu;
    height: unset;
    justify-items: end;
}
.main-links > button {
    margin-right: $xl;
    border-radius: $s;
    border-color: $green;
}
a.link {
    padding: $m $l;
}
.content {
    grid-area: content;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-areas:
    "scroll";

    @include respond-to(medium) {
        grid-auto-columns: 8fr 4fr;
        grid-template-areas:
        "scroll menu";
        }
    @include respond-to(large) {
    grid-auto-columns: 8fr 4fr;
    grid-template-areas:
    "scroll menu";
    }

}
.contentgalerie {
    grid-area: content;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-areas:
    "scroll";

    @include respond-to(medium) {
        grid-auto-columns: 6fr 6fr;
        grid-template-areas:
        "scroll menu";
        }
    @include respond-to(large) {
    grid-auto-columns: 6fr 6fr;
    grid-template-areas:
    "scroll menu";
    }

}
.cards {
    grid-area: scroll;
    display: grid;
    grid-row-gap: 3*$xl;
}
.card {
    display: grid;
    grid-template-areas: "img" "desc";
    grid-auto-columns: 1fr;

@include respond-to(medium) {
    grid-template-areas: "img desc";
    grid-auto-columns: 4fr 8fr;
    min-height: 200px;
}
@include respond-to(large) {
    grid-template-areas: "img desc";
    grid-auto-columns: 4fr 8fr;
    min-height: 200px;
}
}

.cardgal {
    background-color: rgba($color: $graybglight, $alpha: 0.8);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
    box-shadow: 6px 6px 16px rgba(209, 205, 199, 0.5), -6px -6px 16px rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    padding: $m;
}

.prodimg {
    grid-area: img;
    mix-blend-mode: darken;
    padding: $s;
    @include respond-to(medium) {
    padding: $m;
    }
    @include respond-to(large) {
    padding: $l;
    }
}
.desc {
    grid-area: desc;
}

menu.internalAnchors {
    grid-area: unset;
    float: right;
    display: block;
    position: fixed;
    top: 4*$xl;
    right: $l;
    visibility: hidden;

    @include respond-to(medium) {
    visibility: visible;
    }

    @include respond-to(large) {
    visibility: visible;
    }
}

footer {
    grid-area: footer;
}

menu.internalAnchors {
    > ul {
        display: table;
        > li {
            display: table-row;
        }
}
}

.cardsabout {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-areas: "info" "mapa";

    @include respond-to(medium) {
        grid-auto-columns: 1fr 500px;
        grid-template-areas: "info mapa";
    }
}
.cardabout {
    grid-area: info;
    background-color: rgba($color: $graybglight, $alpha: 0.8);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
    box-shadow: 6px 6px 16px rgba(209, 205, 199, 0.5), -6px -6px 16px rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    padding: $l $xl;

}
.cardcompanymapa {
    grid-area: mapa;
    background-color: rgba($color: $graybglight, $alpha: 0.8);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
    box-shadow: 6px 6px 16px rgba(209, 205, 199, 0.5), -6px -6px 16px rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    padding: $l $xl;
}
.cardshome {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-areas:
    "col1"
    "col2"
    "col3"
    "col4";

    @include respond-to(medium) {
    grid-auto-columns: 1fr 1fr;
    grid-template-areas: "col1 col2"
    "col3 col4";
    }
    
    @include respond-to(large) {
    grid-auto-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "col1 col2 col3 col4";
    }

}

.main-links > button {
    display: inline-block;
    }


.smalltogglemenu {
    display: block;

    @include respond-to(medium) {
        display: none;
    }
}

.hiddn {
    display: none;

    @include respond-to(medium) {
        display: grid;
    }
}