@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@700&family=Roboto&display=swap');

h1, h2, h3, h4 {
    font-family: 'Cairo', sans-serif;
}
h1 {
    display: block;
    padding-left: 373px + 32px;
}
p, ul, .link, strong {
    font-family: 'Roboto', sans-serif;
}

p {
    text-align: justify;
    line-height: 1.5rem;
}

.desc ul li {
    line-height: 2rem;
}

.internalAnchors h3 {
    display: block;
    padding-left: 48px;
}